.App {
  font-family: sans-serif;
  text-align: center;
}

button {
  font-size: 1.5em;
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 5px;
}

button:hover {
  background: gold;
}
